[submodule "whooshy_sound"]
	path = whooshy_sound
	url = https://github.com/JordanAceto/whooshy_sound
[submodule "stereo_whooshy_sound"]
	path = stereo_whooshy_sound
	url = https://github.com/JordanAceto/stereo_whooshy_sound
[submodule "horrible_distortion"]
	path = horrible_distortion
	url = https://github.com/JordanAceto/horrible_distortion
[submodule "ap_joystick_VCF"]
	path = ap_joystick_VCF
	url = https://github.com/JordanAceto/ap_joystick_VCF
